
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Images/favicon-red.png" type="image/x-icon">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

    <link rel="stylesheet" href="~/css/style.css">
    @if (IsSectionDefined("Scripts")) {
        RenderSection("Scripts");
    }
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Административная панель</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="@(ViewBag.Title.Contains("Главная") ? "active" : "")"><a asp-action="Index">Главная</a></li>
            <li class="@(ViewBag.Title.Contains("Пользователи") ? "active" : "")"><a href="pages.html">Пользователи</a></li>
            <li class="@(ViewBag.Title.Contains("Новости") ? "active" : "")"><a href="posts.html">Новости</a></li>
            <li class="@(ViewBag.Title.Contains("Продукты") ? "active" : "")"><a href="users.html">Продукты</a></li>
            <li class="@(ViewBag.Title.Contains("Предприятия") ? "active" : "")"><a href="users.html">Предприятия</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">На сайт</a></li>
            <li><a href="login.html">Выйти из аккаунта</a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> @ViewBag.Cog <small>@ViewBag.Manage</small></h1>
          </div>
        </div>
      </div>
    </header>

    <section id="breadcrumb">
      <div class="container">
        @if (TempData["Message"] != null) {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        @if (TempData["Danger"] != null) {
            <div class="alert alert-danger">@TempData["Danger"]</div>
        }
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a asp-action="index" class="list-group-item @(ViewBag.Title.Contains("Главная") ? "active main-color-bg" : "")">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Главная
              </a>
              <a href="users.html" class="list-group-item @(ViewBag.Title.Contains("Пользователи") ? "active main-color-bg" : "")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Пользователи</a>
              <a asp-action="News" class="list-group-item @(ViewBag.Title.Contains("Новости") ? "active main-color-bg" : "")"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Новости</a>
              <a href="posts.html" class="list-group-item @(ViewBag.Title.Contains("Продукты") ? "active main-color-bg" : "")"><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Продукты</a>
              <a href="users.html" class="list-group-item @(ViewBag.Title.Contains("Предприятия") ? "active main-color-bg" : "")"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Предприятия</a>
              <a href="users.html" class="list-group-item @(ViewBag.Title.Contains("Запросы") ? "active main-color-bg" : "")"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Запросы</a>
            </div>
          </div>
          <div class="col-md-9">


                  @RenderBody()



          </div>
        </div>
      </div>
    </section>

    <footer id="footer">
      <p>Copyright Alexei Suvorov, &copy; 2017</p>
    </footer>
  </body>
</html>
