<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    @if (IsSectionDefined("Scripts")) {
        RenderSection("Scripts");
    }
    <script src="~/js/stats.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/Images/brand1.png" style="height: 70px; width:75px; margin-top: -23.5px; margin-right: 10px;"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Title == "Главная" ? "active" : "")"><a asp-action="Index" asp-controller="Home">Главная</a></li>
                    <li class="@(ViewBag.Title == "Инновационные продукты" ? "active" : "")"><a asp-action="List" asp-controller="Product">Инновационные продукты</a></li>
                    <li class="@(ViewBag.Title == "Предприятия" ? "active" : "")"><a asp-action="List" asp-controller="Company" asp-route-page="1">Предприятия</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.IsInRole("Admin")) {
                        <li><a asp-action="Index" asp-controller="Admin"><span class="fa fa-key"> Администрирование</span></a></li>
                    }
                    @if (Context.User.Identity.IsAuthenticated) {
                        <li><a asp-action="MyProfile" asp-controller="User"><span class="fa fa-home"> Мой профиль</span></a></li>
                        <li><a asp-action="LogOut" asp-controller="Account"><span class="fa fa-sign-out"></span> Выход</a></li>
                    } else {
                        <li><a asp-action="Registration" asp-controller="Account"><span class="fa fa-user-plus"></span> Регистрация</a></li>
                        <li><a asp-action="Login" asp-controller="Account"><span class="fa fa-sign-in"></span> Вход</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (TempData["Message"] != null) {
                    <div class="alert alert-success">@TempData["Message"]</div>
                }
                @if (TempData["Danger"] != null) {
                    <div class="alert alert-danger">@TempData["Danger"]</div>
                }
            </div>

            <div class="col-md-8" id="News">

                @RenderBody()

            </div>

            <div class="col-md-4">

                <!-- Статистика -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Статистика</h4>
					</div>
					<ul class="list-group" id="stats">

					</ul>
				</div>
                
				<!-- Последние зарегистрированые инновационные продукты -->
                <div class="panel panel-default" >
					<div class="panel-heading">
						<h4>Последние инновационные продукты</h4>
					</div>
					<ul class="list-group" id="products">
						
					</ul>
				</div>

				<!-- Последние зарегистрированые предприятия -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Последние зарегистрированые предприятия</h4>
					</div>
					<ul class="list-group" id="companies">

					</ul>
				</div>

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; Alexei Suvorov 2017. All rights reserved.</p>
        </div>
    </footer>

    
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
